<div class="container" style="margin-bottom: 10%;">
    <div class="row">
    <section class="section-features">
      <div class="mobile-no">
          <div class="body-row" style="margin-top: 160px;">
			<br>
			<div class="item active">
				<img src="../../assets/images/abb.jpg"  style="width:100%;height:100%">
		  </div>
			<div class="col-lg-12 col-sm-12 col-md-12">
					<h3 style="color: #0541E8"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;About Padi Lotto</h3><br><br>
				The Nigerian Lottery Industry is male-dominated and one of the reasons is because of the complexity of the available lottery models and the difficulty of winning. 
				<br>
				<br>
				<i>*What if we keep it simple so you don't worry about numbers?</i>  <br>
				<i>*What if we have a lotto so simple to understand and easy to play with small stakes?</i> <br>
				<i>*What if we have a bi-gender friendly lotto that gives every player an equal chance of winning?</i> <br>
				<i>*What if we have a lotto where it is guaranteed that there will always be winners in every draw?</i> <br>

				<br>To answer the above questions, Simple Touch Applications Limited launches Padi Lotto and <b>all that is needed to play Padi Lotto is a phone number!</b><br> 
				<br>
				
				<div class="item active">
						<img src="../../assets/images/abt.jpg"  style="width:100%;height:100%">
				  </div>

				<br><br><b>When you enter your phone number and click PLAY, a Unique Lucky Ticket ID will be generated for you. This Lucky Ticket ID qualifies you for the stated winning -that's all!</b>

				<br><br>When the draw closes by 6pm, all Ticket IDs generated are shuffled by our Bespoke Lottery Machine and Winning Ticket IDs are selected and published on our Website under "WINNERS". 

				

				<br><br>When you win, your account is credited instantly and you can win multiple times in a draw! 
				Simple, right? We know!
				<a [routerLink]="['/play']"> 
				PLAY NOW!
				</a>
			</div>
			<br>
		
			<div>
				<h3><i class="fa fa-address-book" style="color: blue"></i>&nbsp;&nbsp;Contact Us</h3><br><br>
				
				

				<h3><a href="mailto:support@padilotto.ng" style="color: blue">support@padilotto.ng</a></h3>&nbsp;&nbsp;
	
					<h4><i class="fa fa-globe" style="color: blue"></i>&nbsp;&nbsp;Social Media Pages<br><br></h4>
	
					<a href="https://fb.me/padilottoofficial">	<i class="fa fa-facebook fa-3x" style="color: blue"><img src="../../assets/images/fb1.png" style="height: 30px">&nbsp;<h4>
					</h4></i></a><a href="https://www.instagram.com/padilotto/">  <i class="fa fa-instagram fa-3x" style="color: #405DE6"><img src="../../assets/images/is.jpg" style="height: 30px">&nbsp;<h4>
					</h4></i></a>&nbsp;&nbsp;
					
					<a href="https://twitter.com/padilotto?s=09"> 
					<i class="fa fa-twitter fa-3x" style="color: #38A1F3"><img src="../../assets/images/tw.png" style="height: 30px">&nbsp;<h4> 
					</h4></i></a>&nbsp;&nbsp;
					
					<a href="https://wa.me/2347054065523">
					<i class="fa fa-whatsapp fa-3x" style="color: green"><img src="../../assets/images/wt.jpg" style="height: 30px">&nbsp;<h4>
					</h4></i></a>
					<br>
					<h3><i class="fa fa-phone-square" style="color: green"></i>&nbsp;&nbsp;Customer Care:<br><a href="tel:+2349052531985" style="color: black">+234 905 253 1985</a><br> <a href="tel:+2348100882382" style="color: black">+234 810 088 2382</a></h3>
					</div>
				<br>
				<br>
				<a [routerLink]="['/']"><button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:black; margin-top: 5%; margin-left: 40%;;">Close</button></a>

          </div>
      </div>
    </section>
  </div>
</div>
<app-home-footer></app-home-footer>