/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
 */
 @import url('../../../global.css');
@import url('../../../reset.css');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
 */
/* footer-section css start */
.footer-section {
  background: #0441E8;
  color: white;
}

.footer-top {
  padding-top: 105px;
  padding-bottom: 110px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: #0441E8;
}
.footer-top .site-logo {
  display: inline-block;
}
.number-count-item {
  padding: 0 40px;
  border-right: 1px solid #e6e6e6;
}
.number-count-item:first-child {
  padding-left: 0;
}
.number-count-item:last-child {
  padding-right: 0;
  border-right: 0;
}
.number-count-item .number {
  font-family: var(--heading-font);
  font-size: 28px;
  font-weight: 700;
  color: var(--main-color);
}
.number-count-item p {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
}
.footer-top-second {
  margin-top: 50px;
}
.footer-widget .widget-title {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.footer-list-menu li+li {
  margin-top: 5px;
}
.footer-list-menu li a {
  font-family: var(--para-font);
  font-weight: 400;
  position: relative;
  padding-left: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.footer-list-menu li a::before {
  position: absolute;
  content: "\f105";
  font-family: 'FontAwesome';
  top: 0;
  left: 0;
  color: #333745;
  opacity: 0.8;
}
.footer-list-menu li a:hover {
  color: var(--main-color);
  margin-left: 10px;
}
.footer-list-menu li a:hover::before {
  color: var(--main-color);
}
.subscribe-form {
  display: flex;
  margin-top: 30px;
}
.subscribe-form input {
  padding: 10px 25px;
}
.subscribe-form input[type="email"] {
  width: 70%;
  border: 1px solid #e5e5e5;
  border-radius: 999px 0 0 999px;
  -webkit-border-radius: 999px 0 0 999px;
  -moz-border-radius: 999px 0 0 999px;
  -ms-border-radius: 999px 0 0 999px;
  -o-border-radius: 999px 0 0 999px;
}
.subscribe-form input[type="submit"] {
  width: 30%;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0 999px 999px 0;
  -webkit-border-radius: 0 999px 999px 0;
  -moz-border-radius: 0 999px 999px 0;
  -ms-border-radius: 0 999px 999px 0;
  -o-border-radius: 0 999px 999px 0;
}
.footer-bottom {
  padding: 25px 0;
  background-color: #ffffff;
}
.copy-right-text p a {
  color: var(--main-color);
}
.footer-social-links li+li {
  margin-left: 15px;
}
.footer-social-links li a {
  width: 33px;
  height: 33px;
  background-color: rgba(51, 181, 247, 0.1);
  border: 1px solid rgba(51, 181, 247, 0.1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: block;
  color: #676d77;
  text-align: center;
  line-height: 33px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.footer-social-links li a:hover {
  color: var(--main-color);
  background-color: transparent;
  border-color: #e5e5e5;
}
/* footer-section css end */
