  <div class="container" style="margin-bottom: 10%;">
        <div class="row">
      <section [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}" class="section-features">
          <div class="body-row" style="margin-top: 10%">
    
	<!--<img src="../../assets/images/slide-1.jpg" title="Play Simple, Win Easy!!" style="max-width: 25%; max-height: 25%; margin-left: 0%;"/> -->
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" class="desktop-one">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../../assets/images/slider3.jpg"  style="width:100%;height:100%">
</div>

          <div class="item">
            <img src="../../assets/images/slider-1.jpg"  style="width:100%;height:100%">
</div>

<div class="item">
  <img src="../../assets/images/slider2.jpg"  style="width:100%;height:100%">
  </div>
        </div>

        <!-- Left and right controls -->
        
      </div>
    </div>
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12"class="mobile-one">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" style="margin-top: 140px">
        <div class="item active">
        <img src="../../assets/images/slider3.jpg"  style="width:100%;height:100%">
        </div>

        <div class="item">
        <img src="../../assets/images/slider-1.jpg"  style="width:100%;height:100%">
        </div>
        
        <div class="item">
          <img src="../../assets/images/slider2.jpg"  style="width:100%;height:100%">
          </div>
      </div>

      <!-- Left and right controls -->
      
      </div>
            </div>
                <br>
                <br>
				<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
				
                    <a [routerLink]="['/play']" [queryParams]="{id: 5}">  
                       <img src="../../assets/images/play.jpg"  style="margin-top: 6%;width:100%;height:100%;margin-bottom: 4%;">
                   </a>

               </div>
               <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
				
                <a [routerLink]="['/play']" [queryParams]="{id: 5}">  
                   <img src="../../assets/images/play.png"  style="margin-top: 6%;width:100%;margin-bottom: 4%;">
               </a>

           </div>
              <div class="col-lg-6 col-sm-12 col-md-12" id="each-mobile-frame" style="margin-top: 10px;">
                  <ul class="nav navbar-nav" id="footer_wrapper">
                      <li class="dropdown" id="htp_dropdown">
                      <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;HOW TO PLAY<span class="glyphicon glyphicon-chevron-down" style="float: right; margin-top: 1%"></span></a>
                      <ul id="htp_dropdown_list" class="dropdown-menu">
                            To participate in a draw, register or login and fund your account. <b>You will get 100% Welcome Bonus on your first deposit and 20% bonus on every other deposit of N1,000 and above!</b>

                            <br><br>Having done that, enter your phone number under a draw category of your choice and click PLAY. <b>Your phone number will generate a Unique Lucky Ticket ID for you.</b>
            
                            <br><br>Your Lucky Ticket ID qualifies you for the stated winning. Your tickets, the status and other details are available in your Dashboard when you log in. 
            
                            <br><br>After a draw closes, our Bespoke Lottery Machine shuffles all Ticket IDs generated for that draw and picks the Winning Ticket IDs.
            
                            <br><br><b>The Weekly Draws are opened for play everyday of the week and closes by 6pm every Friday</b>
                            
                            <br><br><b>Winners are selected by 6:30pm every Friday</b> and published on the website under the "WINNERS" tab. Winners' accounts are credited instantly with their winings!
            
                            <br><br>Play multiple times to increase your chances of winning! You can win multiple times in a draw!
                            <br>  
                          <a href="#" class="android-btn-app"><img src="../../assets/images/android.png" style="height: 50px" alt="Play store button"> </a>
                          <a href="#" class="ios-btn-app"><img src="../../assets/images/ios.svg" style="height: 50px" alt="App store button "> </a>
                          <br>
                          <a href="#"><button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:black; margin-top: 5%; margin-left: 40%;;">Ok, Got it!</button></a>
                        </ul>
                      </li>
                      </ul>
              </div>
              <div class="col-lg-6 col-sm-12 col-md-12" style="color: black;" id="each-frame">
                    <h3 style="color: #1647ce;"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;HOW TO PLAY</h3>
                    To participate in a draw, register or login and fund your account. <b>You will get 100% Welcome Bonus on your first deposit and 20% bonus on every other deposit of N1,000 and above!</b>

				<br><br>Having done that, enter your phone number under a draw category of your choice and click PLAY. <b>Your phone number will generate a Unique Lucky Ticket ID for you.</b>

				<br><br>Your Lucky Ticket ID qualifies you for the stated winning. Your tickets, the status and other details are available in your Dashboard when you log in. 

				<br><br>After a draw closes, our Bespoke Lottery Machine shuffles all Ticket IDs generated for that draw and picks the Winning Ticket IDs.

				<br><br><b>The Weekly Draws are opened for play everyday of the week and closes by 6pm every Friday</b>
				
				<br><br><b>Winners are selected by 6:30pm every Friday</b> and published on the website under the "WINNERS" tab. Winners' accounts are credited instantly with their winings!

                <br><br>Play multiple times to increase your chances of winning! You can win multiple times in a draw!
                <br>  
                      <a href="#" class="android-btn-app"><img src="../../assets/images/android.png" style="height: 50px" alt="Play store button"> </a>
                      <a href="#" class="ios-btn-app"><img src="../../assets/images/ios.svg" style="height: 50px" alt="App store button "> </a>
              </div>
    
				<!--
              <div class="col-lg-4 col-sm-12 col-md-12" style="color: black;" id="each-frame">
                    <h3><span class="glyphicon glyphicon-home"></span>&nbsp; ABOUT US</h3>
                    <p>One major challenge lottery players in Nigeria face is the difficulty in forecasting the winning numbers to be drawn by lottery machines and this has made a lot of players unhappy over the years.</p>
                    <p>In a bid to change this narrative, put smiles on the faces of lottery players, and give everyone an equal chance of winning without stress, Simple Touch Applications Limited launches Padi Lotto!</p>
                    <p>Padi Lotto is an interesting, bi-gender friendly lottery model that gives you a chance to win big with small stakes, without worrying about numbers! All that is needed to play is a phone number!</p>
                    <p>When you enter your phone number and click PLAY, a UNIQUE TICKET ID will be generated for you. This unique ticket ID qualifies you for the stated winning -that's all!</p>
                    <p>When that game closes by 6pm, all Ticket IDs generated are shuffled by our bespoke lottery machine and winning Ticket IDs are selected and published on our website under "WINNERS".</p>
                    <p>When you win, your account is credited instantly!  Simple, right? We know!</p>
                    <h3 style="color: black"><span class="glyphicon glyphicon-gift"></span>&nbsp; BONUSES</h3>
                    <p>You get <b>100% Welcome Bonus</b> on your first deposit and <b>20% Bonus</b> on subsequent deposits of <b>&#8358; 1,000</b> and above. Anytime you get a bonus on your deposit, both the main amount deposited and the bonus added would be merged together in your bonus account.</p>
                    <p>Funds/stakes will be deducted from your bonus account first, before your main account <b>except</b> when there are no funds in the bonus account. Every time you win, your main account will be credited with your winnings instantly.</p>
              </div>-->
              <div class="col-lg-6 col-sm-12 col-md-12">
                <h3 style="color: #1647ce;"><span class="glyphicon glyphicon-tasks"></span>&nbsp;UPCOMING DRAWS</h3>
                <div class="col-lg-12 col-sm-12 col-md-12" id="each-game-frame" *ngFor="let one of testing">
                        <div *ngFor="let each of one" style="margin-top: 3%;">
                        <a [routerLink]="['/play']" [queryParams]="{id: 5}">  
                            <div class="mini-header2">
                                    <p style=" margin-top: 1%; color: black;"><span class="glyphicon glyphicon-time"></span>&nbsp;{{each.draw_date}} Draws<span style="float: right;">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        </span>
                                    </p>
                                </div>
                        </a>
                        </div>
                        <div style="margin-top: 3%;">
                            <a [routerLink]="['/play']" [queryParams]="{id: 5}">  
                                <div class="mini-header2">
                                    <p style=" margin-top: 1%; color: black;"><span class="glyphicon glyphicon-time"></span>&nbsp;{{endOfTheMonth}} Draws<span style="float: right;">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        </span>
                                    </p>
                                </div>
                            </a>
                            </div>
                    </div>
                    <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5d13b7b536eab972111964e4/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
                    
                    
                           <!-- <h3 style="color: black"><span class="glyphicon glyphicon-time"></span>&nbsp; Monthly Jackpot</h3>
                            <p>On the last day of every month, starting from June, 2019, there is a Monthly Jackpot of <b>&#8358; 100,000</b>. This Monthly Jackpot is free and opened to everyone who played <b>at least once in that month</b>. To select the Jackpot Winner, All TICKET IDs generated for ALL Padi Lotto Draws in that month are shuffled by our bespoke lottery machine and 1 (one) Ticket ID is picked!</p>
                            <p>The account associated with the ticket ID is credited with ₦100,000 instantly!</p> -->
                </div>
            </div>
            
          </section>
        </div>
    </div>
    <app-footer></app-footer>
    