<div class="container" style="margin-bottom: 10%;">
    <div class="row">
    <section class="section-features">
      <div class="mobile-no">
          <div class="body-row" style="margin-top: 13%;">
            <br>
			<div class="col-lg-12 col-sm-12 col-md-12">
				<h3>Blog</h3><br><br>
				
				

				To participate in a draw, register or login and fund your account. You will get 100% Welcome Bonus on your first deposit and 20% bonus on every other deposit of N1,000 and above!

				<br><br>Having done that, enter your phone number under a draw category of your choice and click PLAY. Your phone number will generate a Unique Lucky Ticket ID for you.

				<br><br>Your Lucky Ticket ID qualifies you for the stated winning. Your tickets, the status and other details are available in your Dashboard when you log in. 

				<br><br>After a draw closes, our Bespoke Lottery Machine shuffles all Ticket IDs generated for that draw and picks the Winning Ticket IDs.

				<br><br>All draws close by 6pm and Winning Ticket IDs are selected and published immediately on the website under "WINNERS". Winners' account are credited instantly with their winnings! 

				<br><br>Play multiple times to increase your chances of winning! You can win multiple times in a draw! 


				<a [routerLink]="['/play']"> 
				PLAY NOW!
				</a>
		
			</div>
           
            <ul id="htp_dropdown_list">
              
            </ul>
          </div>
      </div>
    </section>
  </div>
</div>