<div class="container" style="margin-top: 60px;">
  <div class="row">
  <section class="section-features">
    <div class="mobile-no">
        <div class="body-row" style="margin-top: 13%;">
          <br>
    <div class="col-lg-12 col-sm-12 col-md-12">
      
      <div class="item active">
        <img src="../../assets/images/ff.jpg"  style="width:100%;height:100%">
  </div>
      <h3>Frequently Asked Questions</h3><br><br>
      <h4 style="color: #0541e8"><b>Is Padi Lotto like sports betting?</b></h4>

        <br><p>- No, Padi Lotto has nothing to do with sports, neither is it the regular 1-90 lotto model. You don’t need to pick numbers to play Padi Lotto; all you need to play &amp; win is your phone number.</p>

      <h4 style="color: #0541e8"><b>What am I betting on?</b></h4>

        <br><p>- You aren’t betting on anything. Padi Lotto is similar to a raffle. To win, you need a Ticket ID. To get a Ticket ID, you need your phone number; that’s all.</p>

        <h4 style="color: #0541e8"><b>Must I use my phone number?</b></h4>

      <br><p>- You can use any phone number (11 digits). The phone number used does not determine your chances, it is your Lucky Ticket ID that does. Our Bespoke Lottery Machine picks winners using Ticket IDs.</p>

      <h4 style="color: #0541e8"><b>Are you sure I will win?</b></h4>

<br><p>- If you play, you <b>can </b>win, if you don’t play, you <b>cannot </b>win. Our guarantee is that winners emerge in every draw and you could be one of them. <a href="https://padilotto.ng/play?id=5" style="color: black">Play Now!</a></p>

<h4 style="color: #0541e8"><b>How will I know if I win?</b></h4>

<br><p>- Check on the “<a href="https://padilotto.ng/winning-tickets" style="color: black">Winners</a>” tab on the website to see if your Ticket ID appears on the list or check “<a href="https://padilotto.ng/my-tickets" style="color: black">My Tickets</a>” in your dashboard to see if your ticket status has changed to “Won”. When you win, your Padi Lotto Wallet will be credited instantly with your winnings and you can place withdrawal anytime. </p>

<h4 style="color: #0541e8"><b>Why is my ticket status showing “pending”?</b></h4>

<br><p>- When you play in a draw and the draw hasn’t closed, your ticket status will show “pending”. When the draw closes and winners are selected, your ticket status will change to either “Won” or “Lost”.</p>

<h4 style="color: #0541e8"><b>When will results be out?</b></h4>

<br><p>- Results are published between 30-60 minutes after a draw closes. To know when a draw will close, please check the date and countdown timer on the draw page.</p>

<h4 style="color: #0541e8"><b>Why can`t I play for 20k, 50k, and 100k?</b></h4>

<br><p>- These game categories will be available for play soon and we will notify you. Did you know you can be our next N100,000 Jackpot Winner? Click <a href="https://padilotto.ng/bonus" style="color: black">here</a> to find out more.</p>

<h4 style="color: #0541e8"><b>What is the least amount I can withdrawal?</b></h4>

<br><p>- N2,000 is the least amount you can withdraw. Please confirm that you registered with your correct details to prevent withdrawal issues. If you registered with incorrect details, please go to your profile to update your details accordingly.</p>

<h4 style="color: #0541e8"><b>Will I be charged a fee when withdrawing?</b></h4>

<br><p>- No. you will not be charged a fee when withdrawing. The exact withdrawal amount will be credited to your verified bank account.</p>

<h4 style="color: #0541e8"><b>Can I withdraw back my funds without playing?</b></h4>

<br><p>- Yes but your account can be blocked for this. Also, you can`t withdraw back any deposit you received bonus on.</p>

<h4 style="color: #0541e8"><b>How long will it take to process my withdrawal?</b></h4>

<br><p>- Withdrawals are processed instantly but sometimes, network issues might not make it reflect immediately in your bank account.</p>

<h4 style="color: #0541e8"><b>Can I withdraw using any account details?</b></h4>

<br><p>- For security reasons we advise you make use of your account details when placing a withdrawal because we will verify before processing, just to ensure your winnings don’t go to someone else.</p>

<h4 style="color: #0541e8"><b>What is the least amount I can deposit?</b></h4>

<br><p>- The least amount you can deposit is N100. On your first deposit, you will get 100% Unlimited Welcome Bonus. The higher your deposit, the higher your bonus. After your first deposit, you will get 20% bonus on every other deposit of N1,000 and above.</p>

<h4 style="color: #0541e8"><b>Will I be charged a fee when making a deposit?</b></h4>

<br><p>- There are no fees attached to deposits but if you are using the Bank Transfer option or GTB 737 under Paystack, you might be charged a service fee.</p>

<h4 style="color: #0541e8"><b>What if my deposit does not reflect?</b></h4>

<br><p>- ­Every deposit you make would reflect in your account instantly except deposits through bank transfers. After making a deposit through bank transfer, please send a proof of payment to <a href="https://wa.me/2347054065523" style="color: black">07054065523</a> on <a href="https://wa.me/2347054065523" style="color: black">WhatsApp</a> or by email to <a href="mailto:support@padilotto.ng" style="color: black">support@padilotto.ng</a> and your account will be credited after confirmation.</p>

<h4 style="color: #0541e8"><b>What is Unlimited Welcome Bonus?</b></h4>

<br><p>- This means there is no limit to the amount of Welcome Bonus you can get i.e If your first deposit is N10,000, you will get N10,000 bonus. If your first deposit is N2,000,000, you will get N2,000,000 bonus...and so on…</p>

<h4 style="color: #0541e8"><b>Can I open more than one account?</b></h4>

<br><p>- No, you can`t. Having more than one account is against our <a href="https://padilotto.ng/terms" style="color: black">Terms of Use</a> and it will get you blocked because our system will detect.</p>

<h4 style="color: #0541e8"><b>Why was my account banned?</b></h4>

<br><p>- There are several activities that can make us ban your account. A banned account hasn’t been deactivated so it can be unbanned. Please contact us via <a href="https://wa.me/2347054065523" style="color: black">WhatsApp</a> on <a href="https://wa.me/2347054065523" style="color: black">07054065523</a> or send an email to <a href="mailto:support@padilotto.ng" style="color: black">support@padilotto.ng</a></p>

<h4 style="color: #0541e8"><b>Why can`t I log in to my account?</b></h4>

<br><p>- The login portal is case sensitive. Please ensure you are entering the correct details. If you still can`t log in, please click the Forgot Password option and enter your registered email or phone number to reset your password. </p>

<h4 style="color: #0541e8"><b>Why can`t I play Instant Games?</b></h4>

<br><p>- Our Instant Games (Cash Spin, Double Bang, After Round 1, and Money Box) are not currently available for play. We will launch them soon and you will be notified.</p>

        


          
              

      
    </div>
  </div>
         
        </div>
 </section>
  </div>
</div>
<app-home-footer></app-home-footer>