<div class="container" style="margin-bottom: 10%;">
		<div class="row">
		<section class="section-features">
		  <div class="mobile-no">
			  <div class="body-row" style="margin-top: 13%;">
				<br>
				<div class="col-lg-12 col-sm-12 col-md-12">
				<img id="main-logo" src="../../assets/images/111.jpg">…play simple, win easy!
				<div>
					<h3><i class="fa fa-address-book" style="color: blue"></i>&nbsp;&nbsp;Contact Us</h3><br><br>
					
					
	
					<h3><a href="mailto:support@padilotto.ng" style="color: blue">support@padilotto.ng</a></h3>&nbsp;&nbsp;
	
					<h4><i class="fa fa-globe" style="color: blue"></i>&nbsp;&nbsp;Social Media Pages<br><br></h4>
	
					<a href="https://fb.me/padilottoofficial">	<i class="fa fa-facebook fa-3x" style="color: blue"><img src="../../assets/images/fb1.png" style="height: 30px">&nbsp;<h4>
					</h4></i></a><a href="https://www.instagram.com/padilotto/">  <i class="fa fa-instagram fa-3x" style="color: #405DE6"><img src="../../assets/images/is.jpg" style="height: 30px">&nbsp;<h4>
					</h4></i></a>&nbsp;&nbsp;
					
					<a href="https://twitter.com/padilotto?s=09"> 
					<i class="fa fa-twitter fa-3x" style="color: #38A1F3"><img src="../../assets/images/tw.png" style="height: 30px">&nbsp;<h4> 
					</h4></i></a>&nbsp;&nbsp;
					
					<a href="https://wa.me/2347054065523">
					<i class="fa fa-whatsapp fa-3x" style="color: green"><img src="../../assets/images/wt.jpg" style="height: 30px">&nbsp;<h4>
					</h4></i></a>
					<br>
					<h3><i class="fa fa-phone-square" style="color: green"></i>&nbsp;&nbsp;Customer Care:<br><a href="tel:+2349052531985" style="color: black">+234 905 253 1985</a><br> <a href="tel:+2348100882382" style="color: black">+234 810 088 2382</a></h3>
					</div>
					<br>
					<br>
					<a [routerLink]="['/']"><button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:black; margin-top: 5%; margin-left: 40%;;">Close</button></a>
	
	
	
	
					
	
					
			
				</div>
			   
			  </div>
		  </div>
		</section>
	  </div>
	</div>
	<app-home-footer></app-home-footer>