<div class="container" style="margin-top: 60px;">
    <div class="row">
    <section class="section-features">
      <div class="mobile-no">
          <div class="body-row" style="margin-top: 13%;">
            <br>
			<div class="col-lg-12 col-sm-12 col-md-12">
				
				
				
				<h3>Privacy Policy</h3><br><br>
						
						

						WEBSITE DATA PROTECTION PRIVACY POLICY, COOKIES POLICY, AND SECURITY STATEMENT<br><br>


						Please read this Privacy Policy in conjunction with the Terms and Conditions found on our website: www.padilotto.ng <br><br>

						Padi Lotto is committed to ensuring that your privacy is protected. This  privacy  policy  explains  the  procedures  that  we  have  in  place  to  safeguard  your privacy and  how we use the information we collect about you, and how you can instruct us if you prefer to limit the use of that information.

						<br><br><h3>WHO WE ARE</h3>

						<br><br>We are a Gaming Company operating a number of services  including  but not limited to sports betting, online lottery, casino, poker, keno and gaming in Nigeria from our website www.padilotto.ng 

						<br><br>The terms “we”, “us “ and “our” used in this Website Data Protection Privacy  Policy, Cookies Policy, & Security  Statement  refers  to  www.padilotto.ng,  a  site  operated    by  Simple  Touch Applications Limited, a company registered in Nigeria under RC NO: 1569934.

						<br><br>We understand and recognize the importance of protecting the personal information of our players, and to show our commitment, we have formulated this Data Protection Privacy Policy, Cookies Policy, and Security Statement to reflect our commitment to maintaining the confidentiality of the information we receive via our Website.


						<br><br><h3> PRIVACY COMMITMENT</h3>

						<br><br>Simple Touch Applications Limited, the operators of <a href="http://www.simpelotto.ng" style="color: black"> 
www.simpelotto.ng</a> are committed to respecting your  privacy and recognizing your need for appropriate protection and management  of  personally  identifiable  information or other personal information  you share with us including any information about you or by which you can be identified, such as your name, home address, email address, state of residence, telephone number, photographs, credit card information, birthdate, gender, occupation, personal interest etc (Personal Information)

						<br><br>The purpose of this Data Protection Privacy Policy and Security Statement is to inform you what personal information we may collect from you when you visit our website, how we use and secure such Personal Information, and the choices you have regarding the use and/or your ability to review and correct the Personal Information.

						<br><br>We make every effort to ensure we safeguard the Personal Information provided to us. We have set out in this Data Protection Privacy Policy information on how we seek to protect your security, privacy, and information, generally or specifically in respect of any online payments/transactions/activities, and interactions on our Website.  

						<br><br><h3>COOKIES POLICY</h3>
						<br><br>We place cookies or similar technologies on the machine you use to visit our Website and/or you use to make an application. This is primarily to make it easier for you to access and navigate the Website. By continuing to use our website, you are giving your consent to do this. 

						<br><br>These cookies or similar technologies do not identify any individual. We may also obtain information about your general internet usage by using a cookie file that is stored on the hard drive of your computer or device, which again does not identify any individual. 

						<br><br>This information is sent back to the server each time the browser requests a page from the server that enables the web server to identify and track the web browser. For more details about cookies, please visit 
						
						<a href="http://www.allaboutcookies.org" style="color: black"> 
						http://www.allaboutcookies.org
						</a>
						Cookies enable us to improve our service to you, estimate our audience size and usage patterns, store information about your preference and recognize you when you return to our site.

						<br><br>You can set your browser to refuse cookies (or just to refuse third party cookies), but if you do this, you may not be able to enjoy the full use of our Website. Please note that any third parties who may advertise on our site may also use cookies, but do not have access to, or control over them. 

						<br><br><h3> INFORMATION WE COLLECT AND HOW WE USE IT</h3>

						<br><br>When you register on our website, we need to know your name, email address, state of residence, telephone number, credit card number and expiry date.

						<br><br>We also collect personal  data  from the  following:

						<br><br>A]  Cookies and tracking devices on your gadgets where you have permitted their use. 
						<br><br>B] Communication with us  by phone and email address.
						<br><br>C] Surveys and your visit to our website.
						<br><br>D] Your interaction on all our social media platforms.
						<br><br>E] Your visit to our retail outlets.

						<br><br>We    gather  this  information  to  allow  us  to  process  your  registration,  activities  and transactions  on  our online betting and gaming platform. The relevant information is then used  by  us,  our  agents  and  representatives  to  communicate  with  you  on  any  matter relating to your account, activities and interactions  on  our website and platform in general .

						<br><br>We may also aggregate information and statistics for the purposes of monitoring your activities on our Website to help us improve our services and may provide such aggregate information to third parties. These statistics will not include information that can be used to identify any individual.

						<br><br>From time to time, we may provide your information to our customer service agencies for research and analysis purposes so that we can monitor and improve our offers to our players.

						<br><br>We may also want to provide you with related information from third parties we think may be of interest to you. If you would rather not receive this information, please send an email to support@padilotto.ng

						<br><br><h3> OUR   USE    OF   COOKIES    AND   OTHER   INFORMATION   GATHERING TECHNOLEGIES</h3>

						<br><br>Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our service. On revisiting our website, we will therefore be able to obtain information  about  your  previous  visits  and  about    your  computer  including  where available: your IP address, operating system and browser type; for system administration and  to report aggregate  information to our advertisers.

						<br><br>This statistical data is about our users’ browsing actions and patterns, and does not identify any individual. For the same reason, we may obtain information that is transferred to your computer’s hard drive.   They  help  us  to  improve   our  website  and  to  deliver  a  better  and  more personalized service. They also enable us to:

						<br><br>1] Store information about your preferences, and so allow us to customize our website according to your individual interests.

						<br><br>2] Speed up your searches and to recognize you when you return to our website.

						<br><br>3] Estimate our audience size and usage pattern.

						<br><br>4] Provide a more convenient browsing experience for you in general.

						<br><br><h3> HOW WE PROTECT YOUR INFORMATION </h3>

						<br><br>The internet is not a secure medium. However we have put in place various security procedures as set out in this policy. We store all your information on our secure servers and apply   technical measures to protect your personal data to prevent unauthorized access.  It is the responsibility of players on our Website to keep their password confidential. We ask you not to share your password with anyone. 

						<br><br><h3> SALE OF BUSINESS </h3>

						<br><br>If this business is sold or integrated with another business your details may be disclosed to our advisers and any prospective purchasers and their advisers and will be passed on to the new owners of the business.

						<br><br><h3> UPDATING YOUR DETAILS </h3>

						<br><br>If any of the information that you provided to Simple Touch Applications Limited changes, such as your name, email address, telephone number ,state of residence, or payment details, please login into your Padi Lotto account to update the details in your profile from your account`s dashboard. Alternatively, you can send us an email to this effect via support@padilotto.ng

						<br><br><h3> HOW LONG WE RETAIN YOUR PERSONAL DATA</h3>

						<br><br>We  retain  the  data  of  our  players  for  seven (7) years  which  starts  to  run  from  the  date your account is closed.

						<br><br><h3> YOUR CONSENT AND CHANGES TO THIS PRIVACY POLICY</h3>

						<br><br>By submitting your information you consent to the use of the same information as set out in this Policy. If we change our Privacy Policy, we will post the changes on this page, and may place notices on other pages of the website, so that you may be aware of the information we collect and how we use it at all times. 

						<br><br>For minor or insubstantial changes, we may not give you any notice of such changes, so you are advised to review the Privacy Policy through the Privacy Policy link on the Website on a regular basis.

						<br><br>Continued use of our service will signify that you agree to any of such changes.

						<br><br><h3> HOW TO CONTACT Padi Lotto</h3>

						<br><br>We welcome your views about your website and our Privacy Policy. If you would like to contact     us     with     any     queries     or     comments,     please     send     an     email     to support@padilotto.ng	
			</div>
			<br>
			<a [routerLink]="['/']"><button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:black; margin-top: 5%; margin-left: 40%;;">Close</button></a>
           
            
          </div>
      </div>
    </section>
  </div>
</div>
<app-home-footer></app-home-footer>