<div class="container" style="margin-bottom: 10%;">
    <div class="row">
    <section class="section-features">
      <div class="mobile-no">
          <div class="body-row" style="margin-top: 30%;">
            <br>
			<div class="col-lg-12 col-sm-12 col-md-12">
				
				
				
				
				<h3>Responsible Gaming</h3><br><br>
				<b>Please play responsibly as gaming is supposed to be a form of entertainment!</b><br><br><br>


				At Padi Lotto, we are sincerely committed to helping and protecting those who wish to limit the amount they play with or those who should not be playing at all.

				<br><br>If you feel that playing games might be a deterrent to your life in anyway rather than a form of entertainment, or if you suffer any form of mental health issues due to gaming which may include depression, anxiety, or worse, then we encourage you to visit <a href="http://www.gamblersanonymous.org/ga/" style="color: blue">Gamblers Anonymous</a>

				<br><br>From our end, we also afford you the ability to halt yourself from playing for various periods of time. Please send an email to support@padilotto.ng and we will be glad to help you.

				<br><br>Any underage player who has provided false or wrong information regarding their true age may have all winnings forfeited and could face criminal prosecution. If you believe you might have a gambling problem, and seek further advice or counseling, you can visit this website:
				<a href="http://www.gamblingtherapy.org/" style="color: blue"> 
								 Gambling Therapy
								</a>

				<br><br><b>OUR MEASURES</b>
				<br><br>1.	When signing up on our Website, there is a mandatory checkbox for age. Without ticking that the person registering is above 18 years of age, the registration won't be successful and thus, the person cannot play Padi Lotto.
				<br><br>2.	We do not target underage players with our marketing and advertising. It is inconsistent with our corporate values to attract underage players.

				<br><br><b>SELF-EXCLUSION</b>
				<br><br>If you wish to be restricted from being able to play Padi Lotto at any time, simply send us an email via support@padilotto.ng asking to be blocked from accessing our Website. This will be a permanent block and you would have to contact us again if you want to regain access. 


				<br><br><b>PLEASE, ALWAYS PLAY RESPONSIBLY (ONLINE AND OFFLINE)</b>
				<br><br>1.	Do not be overly confident that the possible outcome of a game of chance would be in your favour, you can`t be so sure.
				<br><br>2.	Always ask yourself: what if I lose? Will I be fine?
				<br><br>3.	Play only with the money that you can afford to lose. Never use money that you need for important things such as food, rent, bills, or tuition.
				<br><br>4.	Play for fun and entertainment, as playing to make money is neither a safe nor sensible reason to play.
				<br><br>5.	Do not play with someone else’s money in your possession.
				<br><br>6.	Do not play when you are upset, tired, or depressed.
				<br><br>7.	If you ever feel depressed, angry or sad, please stop playing. If these feelings continue, kindly seek advice or visit the websites below:
				<br><br>a.	<a href="http://www.gamblersanonymous.org/ga/" style="color:blue;"> 
								 Gambling Anonymous
								</a>
				<br><br>b.	<a href="http://www.gamblerstherapy.org/ga/" style="color: blue;"> 
								 Gambling Therapy
								</a>

			</div>
			<br>
			<a [routerLink]="['/']"><button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:black; margin-top: 5%; margin-left: 40%;;">Close</button></a>
           
            
          </div>
      </div>
    </section>
  </div>
</div>
<app-home-footer></app-home-footer>